*.suo
*.user
.editorconfig
*.DotSettings
*.pyc
*.key
*.crt
.vs/
.idea/
.code/
.tmp/
logs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/
[Oo]utput/
[Aa]rtifacts/
.venv/
.nuke/temp/

Thumbs.db
Desktop.ini
.DS_Store